header {
    font-weight: bold;
    height: 65px;
    background-color: #EAEAEA;
    vertical-align: top;
    padding: 5px;
    font-size: 30px;
}

body {
    margin: 0;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

span {
    font-style: italic;
    color: red;
    font-weight: bold;
}

.left {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    background-color: #C8FC98;
    padding: 3px 5px 10px 5px;
    float: left;
}

.main {
    margin-left: 210px;
    margin-top: 3px;
}

.container::before {
    content: "Center Column: ";
    font-weight: bold;
}

footer {
    background-color: #000000;
    padding: 8px;
    text-align: center;
}

a {
    color: yellow;
}

.clear {
    clear: both;
}
