.block1{
    margin: 20px;
    height:100px;
    width: 180px;
    float:left;
    background-color: aquamarine;
}
.clear{
     clear: both;
}
.block2{
background-color: bisque;
    padding-left: 10px;
}