
footer {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: green;
    bottom: 0;
}
p{
    margin:0;
}
.container {
    background-color: aqua;
    border: green 2px solid;

}

.item {
    float: left;
    background-color: bisque;
    height: 5em;
    width: 300px;
}
@media screen and (min-width:600px){
.item2 {
    background-color: darkgray;
    margin-left: 305px;

}
}
@media screen and (max-width:599px) {
    .item2 {
        background-color: darkgray;
        margin-top: 5em;
        clear: left;
        width: 360px;
    }
    .item{
        width: 120px;
    }

}
